body {
	background-color: darkblue;
}

h1 {
	background-color: darkorange;
	width: 260px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.wrapperInstructions {
	background-color: lightgrey;
	font-size: 18px;
	font-weight: bold;
	width: 450px;
	color: green;
	padding-bottom: 70px;
	margin-bottom: 10px;
	padding-top: 10px;

}

.wrapperRandom {
	background-color: green;
	float: left;
	padding-right: 200px;
	padding-bottom: 80px;
	font-size: 36px;
	margin-bottom: 10px;

	}

.wrapperGameUpdate {
	background-color: #4aaaa5;
	float: left;
	width: 70px;
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 16px;
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.clearFix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapperScore {
	background-color: teal;
	padding-right: 20px;
	width: 215px;
	color: white;
	
}

.wrapperYourScore {
	background-color: teal;
	padding-bottom: 80px;
	padding-right: 20px;
	font-size: 36px;
	color: white;
 	width: 215px;
	}

.crystalMargin {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}